:root {
    --main-home-color: #f5f5f5;
    --main-text-color: #757575;
    --text-hero-title: #ffffff;
    --title-text-color: #212121;
    --button-hero-color: #2196F3;
    --button-hero-activ: #188CE8;
    --title-studio-color: #2F303A;
}
body {
    background-color: var(--main-home-color);
    color: var(--title-text-color);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
}
/*почему-то не передается по нити главный цвет из body*/
.header {
    color: var(--title-text-color);
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
}
.logo {
    color: var(--button-hero-color);
}
.list {
    list-style: none;
}
.link {
    text-decoration: none;
}
.item {
    letter-spacing: 0.02em;
}
.item:hover,
.item:focus {
    color: var(--button-hero-color);
}
.text-color {
    color: var(--main-text-color);
}

.proff {
    font-size: 16px;
}
/*почему-то не передается по нити главный цвет из body*/
.link-color {
    color: var(--title-text-color);
}
.current {
    color: var(--button-hero-color);
}
.current:hover,
.current:focus {
    color: var(--title-text-color);
}
.mail:hover,
.mail:focus {
    color: var(--button-hero-color);
}
.title-studio {
    font-size: 44px;
    line-height: 1.4;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.btn {
    background-color: var(--button-hero-color);
    color: var(--text-hero-title);
    font-family: inherit;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
}
.btn:hover,
.btn:focus {
    background-color: var(--button-hero-activ);
}
.title-desc {
    font-size: 36px;
    
}
.view {
    line-height: 1.7;
    
}
.team {
    font-size: 16px;
}
.footer-style {
    background-color: var(--title-studio-color);
}
.footer {
    color: var(--text-hero-title);
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
}
.address {
    color: var(--text-hero-title);
    line-height: 1.7;
    font-style: normal;
}
.filter {
    font-size: 16px;
    font-family: inherit;
    line-height: 1.6;
}
.active {
    background-color: var( --button-hero-color);
    color: var(--text-hero-title);
}
.filter:hover,
.filter:focus {
    background-color: var( --button-hero-color);
    color: var(--text-hero-title);
}
/*почему-то не передается по нити главный цвет из body*/
.title-project {
    color: var(--title-text-color);
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.kind-project {
    color: var(--main-text-color);
    font-size: 16px;
    line-height: 1.9;
}

